name: Build Plugin - Dalamud STG

permissions:
  contents: read
  
on:
  push:
    branches: 
    - main
    tags-ignore: '*'
  pull_request:
    branches:
    - main
    
jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true
        
    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Restore Dependencies
      run: dotnet restore MiniCactpotSolver.slnx
      
    - name: Build MiniCactpotSolver
      run: dotnet build --no-restore MiniCactpotSolver.slnx /p:Configuration=Release /p:DebugType=None /p:DebugSymbols=false /p:Version=0.0.0.1

    - name: Zip Release
      uses: TheDoctor0/zip-release@0.6.0
      with:
        filename: '../../../../MiniCactpotSolver.zip'
        directory: './MiniCactpotSolver/bin/x64/Release/'

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        path: |
          ./MiniCactpotSolver.zip